<h1>LongestWords#score</h1>
<p>Find me in app/views/longest_words/score.html.erb</p>

<h1>Résultat !</h1>
<p><%= @result[:message] %>
</p>
<h1>Traduction</h1>
<p><%= @result[:translation] %>
</p>
<h1>Time</h1>
<p><%= @result[:time] %>
</p>
<h1>Score</h1>
<p><%= @result[:score] %>
</p>

<p>
  <%= link_to "Générer une nouvelle grille", game_path %>
</p>
